.homepage-section{
    .flex-section{
        display: flex;
    }
    .firstsection{
        width: 49%;
        margin-right: 15px;
    }
    .secondsection{
        width: 26%;
        margin-right: 15px;
    }
    .thirdsection{
        width: 25%;
    }
}